<footer class="relative bg-blueGray-200 pt-8 pb-6">
  <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20"
      style="transform: translateZ(0)">
      <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
          version="1.1" viewBox="0 0 2560 100" x="0" y="0">
          <polygon class="text-blueGray-200 fill-current" points="2560 0 2560 100 0 100"></polygon>
      </svg>
  </div>
  <div class="container mx-auto px-4">
      <div class="flex flex-wrap text-center lg:text-left">
          <div class="w-full lg:w-8/12 px-4">
              <h4 class="text-3xl font-semibold">UA Tamazula</h4>
              <h5 class="text-lg mt-0 mb-2 text-blueGray-600">
                  La Unidad Academica Tamazula, se localiza en la región sureste de Jalisco, ubicado al
                  centro de un valle rodeado por montañas, lagos y arroyos que protegen una flora y fauna únicos. Con un microclima de templado a seco, la localidad es sede de un importante Ingenio, que se ha convertido
                  en un detonador de la industria azucarera y la producción de alcohol.
                  La UA-Tamazula inicia labores en el año 2005, perfilándose como una de las instituciones
                  de nivel superior de mayor calidad educativa de la región, al ofrecer a la población estudiantil
                  de la zona.
                  Instalaciones de vanguardia y la más alta tecnología para su formación profesional e
                  integral.
              </h5>
          </div>
          <div class="w-full lg:w-4/12 px-4">
              <div class="flex flex-wrap items-top mb-6">
                  <div class="w-full lg:w-12/12 px-4 ml-auto">
                      <span class="block uppercase text-blueGray-500 text-sm font-semibold ">
                          Contactanos
                      </span>
                      <ul class="list-unstyled">
                          <li class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm">
                              Carretera Tamazula-Santa Rosa No. 329.</li>
                          <li class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm">
                              Tamazula de Gordiano, Jalisco, México C.P. 49650.</li>
                          <li class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm">
                              Teléfono: (52+358) 4168629.</li>
                          <li class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm">
                              Cuerpo acedemico del plantel.</li>
                          <li class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm">
                              E-mail: <a
                                  href="mailto:marco.celis@tamazula.tecmm.edu.mx">marco.celis@tamazula.tecmm.edu.mx</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      <hr class="my-6 border-blueGray-300" />
      <div class="flex flex-wrap items-center md:justify-between justify-center">
          <div class="w-full md:w-6/12 px-4 mx-auto text-center">
              <div class="text-sm text-blueGray-500 font-semibold py-1">
                  Copyright © UA-Tamazula, diseñado y desarrollado por macelis.
              </div>
          </div>
      </div>
  </div>
</footer>
