<section class="relative py-20">
  <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20"
      style="transform: translateZ(0)">
      <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
          version="1.1" viewBox="0 0 2560 100" x="0" y="0">
          <polygon class="text-white fill-current" points="2560 0 2560 100 0 100"></polygon>
      </svg>
  </div>

  <div class="container mx-auto px-4">
      <div class="items-center flex flex-wrap">
          <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
              <img alt="..." class="max-w-full rounded-lg shadow-lg"
                  src="https://images.unsplash.com/photo-1555212697-194d092e3b8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" />
          </div>
          <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
              <div class="md:pr-12">
                  <div
                      class="text-red-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-red-300">
                      <i class="fas fa-rocket text-xl"></i>
                  </div>
                  <h3 class="text-3xl font-semibold">A growing company</h3>
                  <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
                      The extension comes with three pre-built pages to help you get
                      started faster. You can change the text and images and you're good
                      to go.
                  </p>
                  <ul class="list-none mt-6">
                      <li class="py-2">
                          <div class="flex items-center">
                              <div>
                                  <span
                                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-red-200 mr-3">
                                      <i class="fas fa-fingerprint"></i>
                                  </span>
                              </div>
                              <div>
                                  <h4 class="text-blueGray-500">
                                      Carefully crafted components
                                  </h4>
                              </div>
                          </div>
                      </li>
                      <li class="py-2">
                          <div class="flex items-center">
                              <div>
                                  <span
                                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-red-200 mr-3">
                                      <i class="fab fa-html5"></i>
                                  </span>
                              </div>
                              <div>
                                  <h4 class="text-blueGray-500">Amazing page examples</h4>
                              </div>
                          </div>
                      </li>
                      <li class="py-2">
                          <div class="flex items-center">
                              <div>
                                  <span
                                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-red-200 mr-3">
                                      <i class="far fa-paper-plane"></i>
                                  </span>
                              </div>
                              <div>
                                  <h4 class="text-blueGray-500">Dynamic components</h4>
                              </div>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="pt-20 pb-48">
  <div class="container mx-auto px-4">
      <div class="flex flex-wrap justify-center text-center mb-24">
          <div class="w-full lg:w-6/12 px-4">
              <h2 class="text-4xl font-semibold">Here are our heroes</h2>
              <p class="text-lg leading-relaxed m-4 text-blueGray-500">
                  According to the National Oceanic and Atmospheric Administration,
                  Ted, Scambos, NSIDClead scentist, puts the potentially record
                  maximum.
              </p>
          </div>
      </div>
      <div class="flex flex-wrap">
          <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
              <div class="px-6">
                  <img alt="..." src="assets/img/team-1-800x800.jpg"
                      class="shadow-lg rounded-full mx-auto max-w-120-px" />
                  <div class="pt-6 text-center">
                      <h5 class="text-xl font-bold">Ryan Tompson</h5>
                      <p class="mt-1 text-sm text-blueGray-400 uppercase font-semibold">
                          Web Developer
                      </p>
                      <div class="mt-6">
                          <button
                              class="bg-lightBlue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                              type="button">
                              <i class="fab fa-twitter"></i>
                          </button>
                          <button
                              class="bg-lightBlue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                              type="button">
                              <i class="fab fa-facebook-f"></i>
                          </button>
                          <button
                              class="bg-pink-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                              type="button">
                              <i class="fab fa-dribbble"></i>
                          </button>
                      </div>
                  </div>
              </div>
          </div>
          <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
              <div class="px-6">
                  <img alt="..." src="assets/img/team-2-800x800.jpg"
                      class="shadow-lg rounded-full mx-auto max-w-120-px" />
                  <div class="pt-6 text-center">
                      <h5 class="text-xl font-bold">Romina Hadid</h5>
                      <p class="mt-1 text-sm text-blueGray-400 uppercase font-semibold">
                          Marketing Specialist
                      </p>
                      <div class="mt-6">
                          <button
                              class="bg-red-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                              type="button">
                              <i class="fab fa-google"></i>
                          </button>
                          <button
                              class="bg-lightBlue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                              type="button">
                              <i class="fab fa-facebook-f"></i>
                          </button>
                      </div>
                  </div>
              </div>
          </div>
          <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
              <div class="px-6">
                  <img alt="..." src="assets/img/team-3-800x800.jpg"
                      class="shadow-lg rounded-full mx-auto max-w-120-px" />
                  <div class="pt-6 text-center">
                      <h5 class="text-xl font-bold">Alexa Smith</h5>
                      <p class="mt-1 text-sm text-blueGray-400 uppercase font-semibold">
                          UI/UX Designer
                      </p>
                      <div class="mt-6">
                          <button
                              class="bg-red-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                              type="button">
                              <i class="fab fa-google"></i>
                          </button>
                          <button
                              class="bg-lightBlue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                              type="button">
                              <i class="fab fa-twitter"></i>
                          </button>
                          <button
                              class="bg-blueGray-700 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                              type="button">
                              <i class="fab fa-instagram"></i>
                          </button>
                      </div>
                  </div>
              </div>
          </div>
          <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
              <div class="px-6">
                  <img alt="..." src="assets/img/team-4-470x470.png"
                      class="shadow-lg rounded-full mx-auto max-w-120-px" />
                  <div class="pt-6 text-center">
                      <h5 class="text-xl font-bold">Jenna Kardi</h5>
                      <p class="mt-1 text-sm text-blueGray-400 uppercase font-semibold">
                          Founder and CEO
                      </p>
                      <div class="mt-6">
                          <button
                              class="bg-pink-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                              type="button">
                              <i class="fab fa-dribbble"></i>
                          </button>
                          <button
                              class="bg-red-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                              type="button">
                              <i class="fab fa-google"></i>
                          </button>
                          <button
                              class="bg-lightBlue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                              type="button">
                              <i class="fab fa-twitter"></i>
                          </button>
                          <button
                              class="bg-blueGray-700 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                              type="button">
                              <i class="fab fa-instagram"></i>
                          </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
