<section style="margin-top: 70px;"></section>
<section class="header relative pt-16 items-center flex h-screen max-h-860-px bg-blueGray-800">
  <div class="container mx-auto px-4">
    <div class="flex content-center items-center justify-center h-full">
      <div class="w-full lg:w-6/12 px-4">
        <div
          class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0">
          <div class="rounded-t mb-0 px-6 py-6">
            <div class="btn-wrapper text-center">
              <span class=" inline-flex items-center">
                <img src="assets/img/logo.svg" width="120" />
              </span>
            </div>
            <div class="text-center mb-3">
              <h6 class="text-blueGray-500 text-sm font-bold">Registro de usario</h6>
            </div>

            <hr class="mt-6 border-b-1 border-blueGray-300" />
          </div>
          <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
            <div class="text-blueGray-400 text-center mb-3 font-bold">
              <small>Completa la informacion que se solicita en la parte inferior para formar parte del
                sistema.</small>
            </div>
            <form [formGroup]="formRegistro">
              <div class="flex flex-wrap">
                <div class="w-full">
                  <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row">
                    <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
                      <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal"
                        (click)="toggleTabs(1)"
                        [ngClass]="{'text-amber-600 text-white bg-blueGray-800': openTab !== 1, 'text-white bg-amber-600': openTab === 1}">
                        <i class="fas fa-building text-base mr-1"></i> Institucionales
                      </a>
                    </li>
                    <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
                      <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal"
                        (click)="toggleTabs(2)"
                        [ngClass]="{'text-amber-600 bg-blueGray-800': openTab !== 2, 'text-white bg-amber-600': openTab === 2}">
                        <i class="fas fa-cog text-base mr-1"></i> Sistema
                      </a>
                    </li>
                    <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
                      <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal"
                        (click)="toggleTabs(3)"
                        [ngClass]="{'text-amber-600 bg-blueGray-800': openTab !== 3, 'text-white bg-amber-600': openTab === 3}">
                        <i class="fas fa-user text-base mr-1"></i> Personales
                      </a>
                    </li>
                  </ul>
                  <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
                    <div class="px-4 py-5 flex-auto">
                      <div class="tab-content tab-space">
                        <div [ngClass]="{'hidden': openTab !== 1, 'block': openTab === 1}">
                          <div class="flex flex-wrap">
                            <div class="w-full lg:w-12/12 px-4">
                              <div class="relative w-full mb-3">
                                <div class="relative flex w-full flex-wrap items-stretch mb-3">
                                  <select
                                    class="px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white bg-white rounded text-sm border border-blueGray-300 outline-none focus:outline-none focus:shadow-outline w-full pr-10"
                                    formControlName="InstitucionID" name="InstitucionID">
                                    <option value="-1">Seleccionar</option>
                                    <option *ngFor="let item of instituciones" [ngValue]="item.InstitucionID">
                                      {{item.Nombre}}</option>
                                  </select>
                                  <span
                                    class="z-10 h-full leading-snug font-normal absolute text-center text-blueGray-300 absolute bg-transparent rounded text-base items-center justify-center w-8 right-0 pr-3 py-3">
                                    <i class="fas fa-building"></i>
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="flex flex-wrap">
                            <div class="w-full lg:w-12/12 px-4">
                              <div class="relative w-full mb-3">
                                <div class="relative flex w-full flex-wrap items-stretch mb-3">
                                  <select formControlName="Tipo" name="Tipo"
                                    class="px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white bg-white rounded text-sm border border-blueGray-300 outline-none focus:outline-none focus:shadow-outline w-full pr-10">
                                    <option *ngFor="let item of tipos" [ngValue]="item.Id">
                                      {{item.Nombre}}</option>
                                  </select>
                                  <span
                                    class="z-10 h-full leading-snug font-normal absolute text-center text-blueGray-300 absolute bg-transparent rounded text-base items-center justify-center w-8 right-0 pr-3 py-3">
                                    <i class="fas fa-building"></i>
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                        <div [ngClass]="{'hidden': openTab !== 2, 'block': openTab === 2}">
                          <div class="flex flex-wrap">
                            <div class="w-full lg:w-12/12 px-4">
                              <div class="relative w-full mb-3">
                                <div class="relative flex w-full flex-wrap items-stretch mb-3">
                                  <input type="text" placeholder="Correo" formControlName="Correo" name="Correo"
                                    class="px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white bg-white rounded text-sm border border-blueGray-300 outline-none focus:outline-none focus:shadow-outline w-full pr-10" />
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="flex flex-wrap">
                            <div class="w-full lg:w-12/12 px-4">
                              <div class="relative w-full mb-3">
                                <div class="relative flex w-full flex-wrap items-stretch mb-3">
                                  <input type="text" placeholder="Correo" formControlName="rCorreo" name="rCorreo"
                                    class="px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white bg-white rounded text-sm border border-blueGray-300 outline-none focus:outline-none focus:shadow-outline w-full pr-10" />
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="flex flex-wrap">
                            <div class="w-full lg:w-12/12 px-4">
                              <div class="relative w-full mb-3">
                                <div class="relative flex w-full flex-wrap items-stretch mb-3">
                                  <input type="password" formControlName="Clave" name="Clave" placeholder="Contraseña"
                                    class="px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white bg-white rounded text-sm border border-blueGray-300 outline-none focus:outline-none focus:shadow-outline w-full pr-10" />
                                  <span
                                    class="z-10 h-full leading-snug font-normal absolute text-center text-blueGray-300 absolute bg-transparent rounded text-base items-center justify-center w-8 right-0 pr-3 py-3">
                                    <i class="fas fa-key"></i>
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="flex flex-wrap">
                            <div class="w-full lg:w-12/12 px-4">
                              <div class="relative w-full mb-3">
                                <div class="relative flex w-full flex-wrap items-stretch mb-3">
                                  <input type="password" formControlName="rClave" name="rClave"
                                    placeholder="Repetir contraseña"
                                    class="px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white bg-white rounded text-sm border border-blueGray-300 outline-none focus:outline-none focus:shadow-outline w-full pr-10" />
                                  <span
                                    class="z-10 h-full leading-snug font-normal absolute text-center text-blueGray-300 absolute bg-transparent rounded text-base items-center justify-center w-8 right-0 pr-3 py-3">
                                    <i class="fas fa-key"></i>
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                        <div [ngClass]="{'hidden': openTab !== 3, 'block': openTab === 3}">
                          <div class="flex flex-wrap">
                            <div class="w-full lg:w-12/12 px-4">
                              <div class="relative w-full mb-3">
                                <div class="relative flex w-full flex-wrap items-stretch mb-3">
                                  <input type="text" formControlName="Nombres" name="Nombres" placeholder="Nombre(s)"
                                    class="px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white bg-white rounded text-sm border border-blueGray-300 outline-none focus:outline-none focus:shadow-outline w-full pr-10" />
                                  <span
                                    class="z-10 h-full leading-snug font-normal absolute text-center text-blueGray-300 absolute bg-transparent rounded text-base items-center justify-center w-8 right-0 pr-3 py-3">
                                    <i class="fas fa-user"></i>
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="flex flex-wrap">
                            <div class="w-full lg:w-12/12 px-4">
                              <div class="relative w-full mb-3">
                                <div class="relative flex w-full flex-wrap items-stretch mb-3">
                                  <input type="text" formControlName="Apellidos" name="Apellidos"
                                    placeholder="Apellidos"
                                    class="px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white bg-white rounded text-sm border border-blueGray-300 outline-none focus:outline-none focus:shadow-outline w-full pr-10" />
                                  <span
                                    class="z-10 h-full leading-snug font-normal absolute text-center text-blueGray-300 absolute bg-transparent rounded text-base items-center justify-center w-8 right-0 pr-3 py-3">
                                    <i class="fas fa-user"></i>
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="flex flex-wrap">
                            <div class="w-full lg:w-12/12 px-4">
                              <div class="relative w-full mb-3">
                                <div class="relative flex w-full flex-wrap items-stretch mb-3">
                                  <input type="text" formControlName="Telefono" name="Telefono" placeholder="Telefono"
                                    class="px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white bg-white rounded text-sm border border-blueGray-300 outline-none focus:outline-none focus:shadow-outline w-full pr-10" />
                                  <span
                                    class="z-10 h-full leading-snug font-normal absolute text-center text-blueGray-300 absolute bg-transparent rounded text-base items-center justify-center w-8 right-0 pr-3 py-3">
                                    <i class="fas fa-phone"></i>
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center mt-6">
                <button [disabled]="formRegistro.invalid" (click)="ngOnRegistro()"
                  class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
                  type="button">
                  Registarme
                </button>
              </div>
              <div class="flex flex-wrap mt-6">
                <div class="w-1/2">
                  <a class="text-blueGray-500 text-sm font-bold" routerLink="../acceso">
                    <small>Regresar a acceso</small>
                  </a>
                </div>
                <div class="w-1/2 text-right">
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>

<div *ngIf="showModal" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50  justify-center items-center flex">
  <div class="relative w-auto my-6 mx-auto max-w-3xl">
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white ">
      <div class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t">
        <h3 class="text-3xl font-semibold">
          {{modal.titulo}}
        </h3>
        <button (click)="toggleModal()">
          <span class="bg-transparent text-black  text-2xl block ">
            ×
          </span>
        </button>
      </div>

      <div class="relative p-6 flex-auto">
        <div class="relative p-6 flex-auto">
          <p class="my-4 text-blueGray-500 text-lg leading-relaxed">
            {{modal.msg}}
          </p>
        </div>
      </div>

      <div class="flex items-center justify-end p-6 border-t border-solid border-blueGray-200 rounded-b">
        <button
          class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm  mr-1 mb-1 ease-linear transition-all duration-150"
          type="button" (click)="toggleModal()">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showModal" class="fixed inset-0 z-40 bg-black-opacity"></div>
