<nav
  class="md:left-0 md:block md:fixed md:top-0 md:bottom-0 md:overflow-y-auto md:flex-row md:flex-nowrap md:overflow-hidden shadow-xl bg-white flex flex-wrap items-center justify-between relative md:w-64 z-10 py-4 px-6">
  <div
    class="md:flex-col md:items-stretch md:min-h-full md:flex-nowrap  flex flex-wrap items-center justify-between w-full mx-auto">

    <a
      class="md:block text-center md:pb-2 text-blueGray-600 mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-4">
      <span class="display-logo"> <img src="assets/img/logo.svg" width="50"> </span>
      <p>Incubadora </p>

    </a>
    <!-- Collapse -->
    <div
      class="md:flex md:flex-col md:items-stretch md:opacity-100 md:relative md:mt-4 md:shadow-none shadow absolute top-0 left-0 right-0 z-40 overflow-y-auto overflow-x-hidden h-auto items-center flex-1 rounded"
      [ngClass]="collapseShow">
      <!-- Collapse header -->
      <div class="md:min-w-full md:hidden block pb-4 mb-4 border-b border-solid border-blueGray-200">
        <div class="flex flex-wrap">
          <div class="w-6/12">
            <a [routerLink]="['/']"
              class="md:block text-left md:pb-2 text-blueGray-600 mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-4 px-0">
              Notus Angular
            </a>
          </div>
          <div class="w-6/12 flex justify-end">
            <button type="button"
              class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
              (click)="toggleCollapseShow('hidden')">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- Form -->
      <form class="mt-6 mb-4 md:hidden">
        <div class="mb-3 pt-0">
          <input type="text" placeholder="Search"
            class="border-0 px-3 py-2 h-12 border border-solid border-blueGray-500 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-base leading-snug shadow-none outline-none focus:outline-none w-full font-normal" />
        </div>
      </form>

      <!-- Divider -->
      <hr class="my-4 md:min-w-full" />
      <!-- Heading -->
      <h6 class="md:min-w-full text-blueGray-500 text-xs uppercase font-bold block pt-1 pb-4 no-underline">
        Configuraciones
      </h6>
      <!-- Navigation -->

      <ul class="md:flex-col md:min-w-full flex flex-col list-none">
        <li class="items-center">
          <a [routerLink]="['/admin/panel']" class="text-xs uppercase py-3 font-bold block" routerLinkActive
            #adminDashboard="routerLinkActive" [ngClass]="
              adminDashboard.isActive
                ? 'text-blue-600 hover:text-blue-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            ">
            <i class="fas fa-atom mr-2 text-sm" [ngClass]="
                adminDashboard.isActive ? 'opacity-75' : 'text-blueGray-300'
              "></i>
            Panel de control
          </a>
        </li>
        <li class="items-center">
          <a [routerLink]="['/admin/muestras']" class="text-xs uppercase py-3 font-bold block" routerLinkActive
            #adminMuestra="routerLinkActive" [ngClass]="
              adminMuestra.isActive
                ? 'text-blue-600 hover:text-blue-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            ">
            <i class="fas fa-atom mr-2 text-sm" [ngClass]="
                adminMuestra.isActive ? 'opacity-75' : 'text-blueGray-300'
              "></i>
            Muestras
          </a>
        </li>

        <li class="items-center">
          <a [routerLink]="['/admin/incubadoras']" class="text-xs uppercase py-3 font-bold block" routerLinkActive
            #adminSettings="routerLinkActive" [ngClass]="
              adminSettings.isActive
                ? 'text-blue-600 hover:text-blue-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            ">
            <i class="fas fa-archive mr-2 text-sm" [ngClass]="
                adminSettings.isActive ? 'opacity-75' : 'text-blueGray-300'
              "></i>
            Incubadora
          </a>
        </li>

        <li class="items-center">
          <a [routerLink]="['/admin/usuarios']" class="text-xs uppercase py-3 font-bold block" routerLinkActive
            #adminTables="routerLinkActive" [ngClass]="
              adminTables.isActive
                ? 'text-blue-600 hover:text-blue-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            ">
            <i class="fas fa-user mr-2 text-sm" [ngClass]="
                adminTables.isActive ? 'opacity-75' : 'text-blueGray-300'
              "></i>
            Usuarios
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
