<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-base font-semibold leading-7 text-indigo-600">Listado</h2>
      <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">INCUBADORAS DE MICROBIOLOGÍA CON AGITACIÓN ORBITAL</p>
      <p class="mt-6 text-lg leading-8 text-gray-600">Estas incubadoras son fundamentales en cualquier laboratorio de microbiología y biotecnología debido a su capacidad de proporcionar condiciones óptimas y controladas para el crecimiento de microorganismos en cultivo líquido.</p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16" >
        <div class="relative pl-16" *ngFor="let item of incubadoras">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
              <i class="fa-solid fa-chalkboard text-white"></i>
            </div>
            {{item.Nombre}}
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">Esta incubadora tiene la capacidad de {{item.Capacidad}} y los sensores con los que cuenta son {{item.Sensores}}. Fecha de alta: {{item.FechAlta | date}}.</dd>
          <button type="button" routerLink="/apps/incubadoras/muestras/{{item.IncubadoraID}}" class="adp ajm arc aro awb awf ayg bbm bik">Ver muestras</button>
        </div>

      </dl>
    </div>
  </div>
</div>
