<section class="header relative pt-16 items-center flex h-screen max-h-860-px">
  <div class="container mx-auto items-center flex flex-wrap">
      <div class="w-full md:w-8/12 lg:w-6/12 xl:w-6/12 px-4">
          <div class="pt-32 sm:pt-0">
              <h2 class="font-semibold text-4xl text-blueGray-600"> Incubadora con Sistema de Agitación para
                  Microbiología </h2>
              <p class="mt-4 text-lg leading-relaxed text-blueGray-500">En la actualidad en las entidades educativas
                  universitarias se busca dispositivos
                  para la investigación y enseñanza, el principal problema de los actuales equipos es que no
                  cuentan con todas las especificaciones requeridas para ciertas áreas de trabajo específicas y
                  que no son equipos multifuncionales. Dichos instrumentos tienen un precio muy elevado y no
                  cuentan con muchas opciones simultaneas requeridas como son la regulación de agitación y la
                  temperatura.
                  <br> <br>
                  En nuestra región se cuenta con un área extensa de actividad agrícola donde las empresas y
                  negocios particulares no cuentan con un equipo para determinar análisis de suelo en la
                  determinación de la capacidad amortiguadora de fosforo y potasio que permite el cuidado de
                  nutrientes que puedan tener las plantas.
              </p>
              <div class="mt-12">
                  <a [routerLink]="['/inicio/incubadoras']"
                      class="github-star ml-1 text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-blueGray-700 active:bg-blueGray-600 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150">
                      listado de incubadoras
                  </a>
              </div>
          </div>
      </div>
  </div><img src="assets/img/pattern_angular.png" alt="..."
      class="absolute top-0 b-auto right-0 pt-16 sm:w-6/12 -mt-48 sm:mt-0 w-10/12 max-h-860-px">
</section>
<section class="mt-48 md:mt-40 pb-40 relative bg-blueGray-100">
  <div class="-mt-20 top-0 bottom-auto left-0 right-0 w-full absolute h-20" style="transform: translateZ(0);"><svg
          xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0"
          y="0" class="absolute bottom-0 overflow-hidden">
          <polygon points="2560 0 2560 100 0 100" class="text-blueGray-100 fill-current"></polygon>
      </svg></div>
  <div class="container mx-auto">
      <div class="flex flex-wrap items-center">
          <div class="w-10/12 md:w-6/12 lg:w-4/12 px-12 md:px-4 mr-auto ml-auto -mt-32">
              <div
                  class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-red-600">
                  <img alt="..." src="assets/img/logo.jpg" class="w-full align-middle rounded-t-lg">
                  <blockquote class="relative p-8 mb-4"><svg preserveAspectRatio="none"
                          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95"
                          class="absolute left-0 w-full block h-95-px -top-94-px">
                          <polygon points="-30,95 583,95 583,65" class="text-red-600 fill-current"></polygon>
                      </svg>
                      <h4 class="text-xl font-bold text-white"> Especificaciones de la Incubadora </h4>
                      <p class="text-md font-light mt-2 text-white">Algunos de los compoenntes con los que cuenta
                          nuestra incubadora son lo que se enumeran en la parte derecha los cuales podras observar en
                          las muestras WEB. </p>
                  </blockquote>
              </div>
          </div>
          <div class="w-full md:w-6/12 px-4">
              <div class="flex flex-wrap">
                  <div class="w-full md:w-6/12 px-4">
                      <div class="relative flex flex-col mt-4">
                          <div class="px-4 py-5 flex-auto">
                              <div
                                  class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-white">
                                  <i class="fas fa-sitemap"></i>
                              </div>
                              <h6 class="text-xl mb-1 font-semibold">Agitación</h6>
                              <p class="mb-4 text-blueGray-500"> Las muestra tendra una agitacion continua hasta el temino del periodo de tiempo.  </p>
                          </div>
                      </div>
                      <div class="relative flex flex-col min-w-0">
                          <div class="px-4 py-5 flex-auto">
                              <div
                                  class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-white">
                                  <i class="fas fa-drafting-compass"></i>
                              </div>
                              <h6 class="text-xl mb-1 font-semibold">Gases</h6>
                              <p class="mb-4 text-blueGray-500">Se analizara los gases que generan durante la muestra. </p>
                          </div>
                      </div>
                  </div>
                  <div class="w-full md:w-6/12 px-4">
                      <div class="relative flex flex-col min-w-0 mt-4">
                          <div class="px-4 py-5 flex-auto">
                              <div
                                  class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-white">
                                  <i class="fas fa-newspaper"></i>
                              </div>
                              <h6 class="text-xl mb-1 font-semibold">Temperatura</h6>
                              <p class="mb-4 text-blueGray-500">En todo momento se estara analizando los cambios temperatura de la muestra </p>

                          </div>
                      </div>
                      <div class="relative flex flex-col min-w-0">
                          <div class="px-4 py-5 flex-auto">
                              <div
                                  class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-white">
                                  <i class="fas fa-file-alt"></i>
                              </div>
                              <h6 class="text-xl mb-1 font-semibold">Capcidad</h6>
                              <p class="mb-4 text-blueGray-500">Se pueden incorporar 8 muestras dentro de la incubadora. </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</section>
