<div class="relative bg-blue-500 md:pt-32 pb-20 pt-12">
  <div class="px-4 md:px-10 mx-auto w-full">
    <div>
      <div class="flex flex-wrap">
        <div class="w-full lg:w-3/12 xl:w-3/12 px-4">
          <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">
            <div class="flex-auto p-4" style="padding-bottom: 31px; padding-top: 31px;">
              <div class="flex flex-wrap">
                <div class="relative w-full pr-4 max-w-full flex-grow flex-1 text-center">
                  <h5 class="text-blueGray-400 uppercase font-bold text-xs">
                    Registros
                  </h5>
                  <span class="font-semibold text-xl text-blueGray-700" style="font-size: 30px;">
                    {{numIncubadoras}}
                  </span>
                </div>
                <div class="relative w-auto pl-4 flex-initial">
                  <div routerLink="/admin/incubadoras/0/null" style="cursor: pointer; padding-top: 15px;">
                    <i class="fa-brands text-blue-500 fa-intercom fa-file-circle-plus" style="font-size: 35px;"></i>
                  </div>
                </div>
              </div>
              <p class="text-sm text-blueGray-400 mt-4 text-center">
                <span class="whitespace-nowrap" style="font-size: 20px;">{{ fecha | date }}</span>
              </p>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-9/12 xl:w-9/12 px-4">
          <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">
            <div class="flex-auto p-4">

              <div class="text-sm text-blueGray-400 mt-4">
                <select class="mr-2 py-2 bg-white rounded text-sm shadow " style="width: 20%;" [(ngModel)]="pageSize"
                  name="pageSize">
                  <option value="5">5 registros</option>
                  <option value="10">10 registros</option>
                  <option value="15">15 registros</option>
                </select>
                <span class="mr-2">
                  <input type="text" placeholder="Buscar por nombre" [(ngModel)]="auxBuscar" name="auxBuscar"
                    class="px-2 py-2 bg-white rounded text-sm shadow " style="width: 60%;" />
                </span>
                <span class="whitespace-nowrap">
                  <button
                    class="bg-blue-500 text-white active:bg-blue-600 font-bold uppercase text-sm px-6 py-3 rounded-full shadow hover:shadow-lg  mr-1 mb-1 ease-linear transition-all duration-150"
                    type="button" (click)="ngOnBuscar()">
                    {{btnBuscar}}
                  </button>
                </span>
              </div>
              <div class="py-2">
                <nav class="block text-center">
                  <pagination-controls (pageChange)="page = $event" previousLabel="Ant" nextLabel="Sig">
                  </pagination-controls>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="px-4 md:px-10 mx-auto w-full c-m-4">
  <div class="flex flex-wrap mt-4">
    <div class="w-full mb-12 px-4">
      <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-white"
        ng-reflect-ng-class="bg-white">
        <div class="rounded-t mb-0 px-4 py-3 border-0">
          <div class="flex flex-wrap items-center">
            <div class="relative w-full px-4 max-w-full flex-grow flex-1">
              <h3 class="font-semibold text-lg text-blueGray-700" ng-reflect-ng-class="text-blueGray-700">
                Listado de usuarios</h3>
            </div>
          </div>
        </div>
        <div class="block w-full overflow-x-auto">
          <table class="w-full bg-transparent">
            <thead>
              <tr>
                <th width="20px"
                  class="px-6 border border-solid py-3 text-xs uppercase bg-blueGray-50 text-blueGray-500 border-blueGray-100">
                  Estatus</th>
                <th width="20px"
                  class="px-6 border border-solid py-3 text-xs uppercase bg-blueGray-50 text-blueGray-500 border-blueGray-100">
                </th>
                <th
                  class="px-6 border border-solid py-3 text-xs uppercase bg-blueGray-50 text-blueGray-500 border-blueGray-100">
                  Nombre </th>
                <th
                  class="px-6 border border-solid py-3 text-xs uppercase bg-blueGray-50 text-blueGray-500 border-blueGray-100">
                  Domicilio </th>
                <th width="100px" colspan="2"
                  class="px-6 border border-solid py-3 text-  s uppercase bg-blueGray-50 text-blueGray-500 border-blueGray-100">
                  Opciones </th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let item of incubadoras | incubadora:txtBuscar | paginate:  { itemsPerPage: pageSize, currentPage: page }">
                <th class="px-2 " height="70px">
                  <div (click)="ngOnModalOpc(item, 1)" style="cursor: pointer;">
                    <i *ngIf="item.Estatus == 0" class="fa-brands fa-intercom text-gray-500"
                      style="font-size: 25px;"></i>
                    <i *ngIf="item.Estatus == 1" class="fa-brands fa-intercom text-green-500"
                      style="font-size: 25px;"></i>
                    <i *ngIf="item.Estatus == 2" class="fa-brands fa-intercom text-rose-500"
                      style="font-size: 25px;"></i>
                    <i *ngIf="item.Estatus == 3" class="fa-brands fa-intercom text-red-500"
                      style="font-size: 25px;"></i>
                  </div>
                </th>
                <td class="px-2">
                  <div (click)="ngOnModalOpc(item, 2)" style="cursor: pointer;">
                    <i class="fas fa-eye text-blue-500" style="font-size: 25px;"></i>
                  </div>
                </td>
                <td class="border-t-0 px-6">
                  {{item.Nombre}}
                </td>
                <td class="border-t-0 px-6">
                  Tiene una capacidad {{item.Capacidad}}, sensores instalados {{item.Sensores}} <br>
                  <hr>
                  <span *ngIf="item.Estatus == 0">Instalación de equipo</span>
                  <span *ngIf="item.Estatus == 1">Equipo activo</span>
                  <span *ngIf="item.Estatus == 2">Equipo en mantenimiento</span>
                  <span *ngIf="item.Estatus == 3">Equipo dado de baja</span>

                </td>
                <td width="50px">
                  <div routerLink="/admin/incubadoras/3/{{item.IncubadoraID}}" style="cursor: pointer;">
                    <i class="fas fa-pencil-alt text-orange-500" style="font-size: 25px;"></i>
                  </div>
                </td>
                <td width="50px">
                  <div (click)="ngOnModalOpc(item, 4)" style="cursor: pointer;">
                    <i class="fas fa-trash-alt text-red-500" style="font-size: 25px;"></i>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showModal" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50  justify-center items-center flex">
  <div class="relative w-auto my-6 mx-auto max-w-3xl">
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white ">
      <div class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t">
        <h3 class="text-3xl font-semibold">
          <span *ngIf="btnOpcion == 1">Cambiar de permiso</span>
          <span *ngIf="btnOpcion == 2">Ver registro</span>
          <span *ngIf="btnOpcion == 3">Editar Registro</span>
          <span *ngIf="btnOpcion == 4">Eliminar registro</span>
        </h3>
        <button (click)="toggleModal()">
          <span class="bg-transparent text-black  text-2xl block ">
            ×
          </span>
        </button>
      </div>

      <div *ngIf="btnOpcion == 1" class="relative p-6 flex-auto">
        <h6 class="text-xl font-normal leading-normal mt-0 mb-2 text-blue-800">
          Se modificaran el estatus de la incubadora:
        </h6>
        <div class="flex-auto px-4 lg:px-10 py-10 pt-0">

          <hr class="mt-6 border-b-1 border-blueGray-300">
          <h6 class="border-b-1 text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase"> Información de la incubadora:
          </h6>
          <div class="flex flex-wrap">
            <div class="w-full lg:w-12/12 px-4">
              <div class="relative w-full mb-3"><label class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
                  Nombre
                </label>
                <p
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
                  {{iSelect.Nombre}}
                </p>
              </div>
            </div>
            <div class="w-full lg:w-12/12 px-4">
              <div class="relative w-full mb-3">
                <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2"> Estatus
                </label>
                <fieldset>
                  <div class="lk abz bxl cbd ccf ccm">
                    <div class="lx za">
                      <input id="instalando" name="notification-method" [(ngModel)]="AuxEstatus" value="0" type="radio" class="nw ry afw ayh bnn" checked=""/>
                        <label for="instalando" class="jw lu awa awe awp axv">Instalando equipo </label>
                      </div>
                    <div class="lx za">
                      <input id="activa" name="notification-method" [(ngModel)]="AuxEstatus" value="1" type="radio" class="nw ry afw ayh bnn">
                      <label for="activa" class="jw lu awa awe awp axv">Activa para muestras</label>
                    </div>
                    <div class="lx za">
                      <input id="mantenimiento" name="notification-method" [(ngModel)]="AuxEstatus" value="2" type="radio" class="nw ry afw ayh bnn">
                        <label for="mantenimiento" class="jw lu awa awe awp axv">En mantenimiento</label>
                      </div>
                      <div class="lx za">
                        <input id="baja" name="notification-method" [(ngModel)]="AuxEstatus" value="3" type="radio" class="nw ry afw ayh bnn">
                          <label for="baja" class="jw lu awa awe awp axv">Baja</label>
                        </div>
                  </div>
                </fieldset>

              </div>
            </div>
          </div>

        </div>
      </div>
      <div *ngIf="btnOpcion == 2" class="relative p-6 flex-auto">
        <h6 class="text-xl font-normal leading-normal mt-0 mb-2 text-blue-800">
          Información alamacenada de la incubadora:
        </h6>
        <div class="flex-auto px-4 lg:px-10 py-10 pt-0">

          <hr class="mt-6 border-b-1 border-blueGray-300">
          <h6 class="border-b-1 text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase"> Información de la incubadora:
          </h6>
          <div class="flex flex-wrap">
            <div class="w-full lg:w-12/12 px-4">
              <div class="relative w-full mb-3"><label class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
                  Nombre
                </label>
                <p
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
                  {{iSelect.Nombre}}
                </p>
              </div>
            </div>
          </div>
          <hr class="mt-6 border-b-1 border-blueGray-300">
          <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase"> Información extra </h6>
          <div class="flex flex-wrap">
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3"><label class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
                  Capcidad
                </label>
                <p
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
                  {{iSelect.Capacidad }}
                </p>
              </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3"><label class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
                  Sensores
                </label>
                <p
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
                  {{iSelect.Sensores}}
                </p>
              </div>
            </div>

            <div class="w-full lg:w-12/12 px-4">
              <div class="relative w-full mb-3"><label class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
                  Fecha de activación
                </label>
                <p
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
                  {{iSelect.FechAlta | date}}
                </p>
              </div>
            </div>

          </div>

        </div>
      </div>
      <div *ngIf="btnOpcion == 4" class="relative p-6 flex-auto">
        <h4 class="text-xl font-normal leading-normal mt-0 mb-2 text-blue-800">
          El siguiente incubadora sera afectada:
        </h4>
        <div class="flex-auto px-4 lg:px-10 py-10 pt-0">

          <hr class="mt-6 border-b-1 border-blueGray-300">
          <h6 class="border-b-1 text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase"> Información de la incubadora:
          </h6>
          <div class="flex flex-wrap">
            <div class="w-full lg:w-12/12 px-4">
              <div class="relative w-full mb-3"><label class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
                  Nombre
                </label>
                <p
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
                  {{iSelect.Nombre}}
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="flex items-center justify-end p-6 border-t border-solid border-blueGray-200 rounded-b">
        <button
          class="text-blue-500 bg-transparent border border-solid border-blue-500 hover:bg-blue-500 hover:text-white active:bg-blue-600 font-bold uppercase text-sm px-6 py-3  rounded-full outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          type="button" (click)="toggleModal()">
          Cerrar
        </button>
        <button *ngIf="btnOpcion == 1"
          class="bg-blue-500 text-white active:bg-blue-600 font-bold uppercase text-sm px-6 py-3 rounded-full shadow hover:shadow-lg  mr-1 mb-1 ease-linear transition-all duration-150"
          type="button" (click)="onCambiarPermiso()">
          <span >Cambiar</span>
        </button>
        <button *ngIf="btnOpcion == 4"
          class="bg-blue-500 text-white active:bg-blue-600 font-bold uppercase text-sm px-6 py-3 rounded-full shadow hover:shadow-lg  mr-1 mb-1 ease-linear transition-all duration-150"
          type="button" (click)="onEliminarUsuario()">
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showModal" class="fixed inset-0 z-40 bg-black-opacity"></div>
