<section class="pb-20 relative block bg-blueGray-800">
  <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20"
    style="transform: translateZ(0);">
    <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0"
      class="absolute bottom-0 overflow-hidden">
      <polygon points="2560 0 2560 100 0 100" class="text-blueGray-800 fill-current"></polygon>
    </svg>

  </div>
  <div class="container mx-auto lg:pt-24 lg:pb-64" style="padding: 150px;">
    <div class="flex flex-wrap text-center justify-center">
      <div class="w-full lg:w-12/12">
        <h2 class="text-4xl font-semibold text-white">Listado de muestras</h2>
        <p class="text-lg leading-relaxed mt-4 mb-4 text-blueGray-400"> Listado de las muestra que ya fueron
          terminadas y guardadas dentro de nuestro sistema.</p>
      </div>
    </div>
    <div class="flex content-center items-center justify-center h-full" style="padding-top: 100px;">
      <div class="w-full lg:w-10/12">
          <div
              class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200">
              <div class="flex-auto p-5 lg:p-10">
                  <h4 class="text-2xl font-semibold">Buscador de muestras?</h4>
                  <p class="leading-relaxed mt-1 mb-4 text-blueGray-500"> En la parte inferior tenemos todas las
                      muestras realizadas dentro de incubadora. </p>
                  <div class="text-sm text-blueGray-400 mt-4">
                      <select class="mr-2 py-2 bg-white rounded text-sm shadow " style="width: 20%;"
                          [(ngModel)]="pageSize" name="pageSize">
                          <option value="5">5 registros</option>
                          <option value="10">10 registros</option>
                          <option value="15">15 registros</option>
                      </select>
                      <span class="mr-2">
                          <input type="text" placeholder="Buscar por nombre" [(ngModel)]="auxBuscar"
                              name="auxBuscar" class="px-2 py-2 bg-white rounded text-sm shadow "
                              style="width: 60%;" />
                      </span>
                      <span class="whitespace-nowrap">
                          <button class="bg-lightBlue-500 text-white font-bold text-xs px-4 py-2 rounded"
                              type="button" (click)="ngOnBuscar()">
                              {{btnBuscar}}
                          </button>
                      </span>
                  </div>
                  <div class="py-2">
                      <nav class="block text-center">
                          <pagination-controls (pageChange)="page = $event" previousLabel="Ant"
                              nextLabel="Sig">
                          </pagination-controls>
                      </nav>
                  </div>
              </div>
          </div>
      </div>
  </div>
    <div class="flex flex-wrap mt-12 justify-center">
      <div class="w-full lg:w-3/12 px-4 text-center"
        *ngFor="let item of Muestras | muestras:txtBuscar | paginate:  { itemsPerPage: pageSize, currentPage: page }">
        <div routerLink="/apps/incubadoras/muestras/graficas/{{item.MuestraID}}" style="cursor: pointer;"
          class="text-blueGray-800 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center">
          <i class="fas fa-atom text-xl"></i>
        </div>
        <h6 class="text-xl mt-5 font-semibold text-white"> {{item.Nombre}} </h6>
        <p class="mt-2 mb-4 text-blueGray-400"> {{item.Descripcion}} </p>
      </div>
    </div>
  </div>
</section>
