<nav
    class="top-0 fixed z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg bg-white shadow ">
    <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
        <div class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start">

            <a [routerLink]="['incubadora']"
                class="text-blueGray-700 text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase">
                <img src="assets/img/logo.svg" width="30">
            </a>
            <button
                class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
                type="button" (click)="setNavbarOpen()">
                <i class="fas fa-bars"></i>
            </button>
        </div>
        <div class="lg:flex flex-grow items-center" [ngClass]="{ hidden: !navbarOpen, block: navbarOpen }"
            id="example-navbar-warning">
            <ul class="flex flex-col lg:flex-row list-none mr-auto">
                <li class="flex items-center">
                    <a
                        class="hover:text-blueGray-500 text-blueGray-700 px-3 py-2 flex items-center text-xs uppercase font-bold">
                        <i class="text-blueGray-400 far fa-file-alt text-lg leading-lg mr-2"></i>
                        Especificaciones
                    </a>
                </li>
            </ul>
            <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
                <li class="flex items-center">
                    <a [routerLink]="['acceso']"
                        class="hover:text-blueGray-500 text-blueGray-700 px-3 py-2 flex items-center text-xs uppercase font-bold">
                        <i class="text-blueGray-400 fas fa-user text-lg leading-lg mr-2"></i>
                        Acceso
                    </a>
                </li>

                <li class="flex items-center">
                    <a [routerLink]="['incubadoras']"
                        class="hover:text-blueGray-500 text-blueGray-700 px-3 py-2 flex items-center text-xs uppercase font-bold">
                        <i class="text-blueGray-400 fa-solid fa-chalkboard text-lg leading-lg mr-2"></i>
                        Incubadoras
                    </a>
                </li>

                <li class="flex items-center">
                    <a [routerLink]="['creadores']"
                        class="hover:text-blueGray-500 text-blueGray-700 px-3 py-2 flex items-center text-xs uppercase font-bold">
                        <i class="text-blueGray-400 fas fa-users text-lg leading-lg mr-2"></i>
                        Creadores
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
