<section style="margin-top: 70px;"></section>
<section class="header relative pt-16 items-center flex h-screen max-h-860-px bg-blueGray-800"
  style="padding-top: 30px; padding-bottom: 30px;">
  <div class="container mx-auto px-4 h-full">
    <div class="flex content-center items-center justify-center h-full">
      <div class="w-full lg:w-6/12 px-4">
        <div
          class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0">
          <div class="rounded-t mb-0 px-6 py-6">
            <div class="btn-wrapper text-center">
              <span class=" inline-flex items-center">
                <img src="assets/img/logo.svg" width="150" />
              </span>
            </div>
            <div class="text-center mb-3">
              <h6 class="text-blueGray-500 text-sm font-bold">Iniciar Sesión</h6>
            </div>

            <hr class="mt-6 border-b-1 border-blueGray-300" />
          </div>
          <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
            <div class="text-blueGray-400 text-center mb-3 font-bold">
              <small>Introduce los siguientes elementos para entrar a tu sessión.</small>
            </div>
            <form [formGroup]="formLogin">

              <div class="flex flex-wrap">
                <div class="w-full lg:w-12/12 px-4">
                  <div class="relative w-full mb-3">
                    <div class="relative flex w-full flex-wrap items-stretch mb-3">
                      <select
                        class="px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white bg-white rounded text-sm border border-blueGray-300 outline-none focus:outline-none focus:shadow-outline w-full pr-10"
                        formControlName="InstitucionID" name="InstitucionID">
                        <option value="-1">Seleccionar</option>
                        <option *ngFor="let item of instituciones" [ngValue]="item.InstitucionID">
                          {{item.Nombre}}</option>
                      </select>
                      <span
                        class="z-10 h-full leading-snug font-normal absolute text-center text-blueGray-300 absolute bg-transparent rounded text-base items-center justify-center w-8 right-0 pr-3 py-3">
                        <i class="fa-solid fa-industry"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="flex flex-wrap">
                <div class="w-full lg:w-12/12 px-4">
                  <div class="relative w-full mb-3">
                    <div class="relative flex w-full flex-wrap items-stretch mb-3">
                      <input type="text" placeholder="Correo" formControlName="Correo_Nom_Usu" name="Correo_Nom_Usu"
                        class="px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white bg-white rounded text-sm border border-blueGray-300 outline-none focus:outline-none focus:shadow-outline w-full pr-10" />
                      <span
                        class="z-10 h-full leading-snug font-normal absolute text-center text-blueGray-300 absolute bg-transparent rounded text-base items-center justify-center w-8 right-0 pr-3 py-3">
                        <i class="fas fa-envelope"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>


              <div class="flex flex-wrap">
                <div class="w-full lg:w-12/12 px-4">
                  <div class="relative w-full mb-3">
                    <div class="relative flex w-full flex-wrap items-stretch mb-3">
                      <input type="password" placeholder="Contraseña" formControlName="Clave" name="Clave"
                        class="px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white bg-white rounded text-sm border border-blueGray-300 outline-none focus:outline-none focus:shadow-outline w-full pr-10" />
                      <span
                        class="z-10 h-full leading-snug font-normal absolute text-center text-blueGray-300 absolute bg-transparent rounded text-base items-center justify-center w-8 right-0 pr-3 py-3">
                        <i class="fas fa-key"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="text-center mt-6">
                <button [disabled]="formLogin.invalid" (click)="ngOnEntrar()"
                  class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
                  type="button">
                  Iniciar sessión
                </button>
              </div>
              <div class="flex flex-wrap mt-6">
                <div class="w-1/2">
                  <a class="text-blueGray-500 text-sm font-bold" routerLink="../recuperar">
                    <small>¿Se te olvidó tu contraseña?</small>
                  </a>
                </div>
                <div class="w-1/2 text-right">
                  <a routerLink="../registro" class="text-blueGray-500 text-sm font-bold">
                    <small>Crear una nueva cuenta</small>
                  </a>
                </div>
              </div>

            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<div *ngIf="showModal" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50  justify-center items-center flex">
  <div class="relative w-auto my-6 mx-auto max-w-3xl">
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white ">
      <div class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t">
        <h3 class="text-3xl font-semibold">
          {{modal.titulo}}
        </h3>
        <button (click)="toggleModal()">
          <span class="bg-transparent text-black  text-2xl block ">
            ×
          </span>
        </button>
      </div>

      <div class="relative p-6 flex-auto">
        <div class="relative p-6 flex-auto">
          <p class="my-4 text-blueGray-500 text-lg leading-relaxed">
            {{modal.msg}}
          </p>
        </div>
      </div>

      <div class="flex items-center justify-end p-6 border-t border-solid border-blueGray-200 rounded-b">
        <button
          class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm  mr-1 mb-1 ease-linear transition-all duration-150"
          type="button" (click)="toggleModal()">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showModal" class="fixed inset-0 z-40 bg-black-opacity"></div>
