.p-5 {
  padding: 1.25rem;
}

.p-6 {
  padding: 1.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.inset-0 {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.bg-black-opacity {
  background-color: rgba(40, 38, 38, 0.779);
}

.text-lightBlue-800 {
  --tw-bg-opacity: 1;
  color: rgba(7, 89, 133, var(--tw-bg-opacity));
}

/*! CSS Used from: https://tailwindui.com/v2-assets/compiled.css?hash=4f467c5303b8d128d450cd09e95a709d */


.gx {
  margin-left: auto;
  margin-right: auto;
}

.lb {
  margin-top: 0.5rem;
}

.lj {
  margin-top: 1.25rem;
}

.ly {
  display: inline-flex;
}

.tw {
  max-width: 48rem;
}

.ua {
  max-width: 80rem;
}

.uk {
  max-width: 36rem;
}

.yz {
  align-items: center;
}

.adu {
  border-radius: 0.375rem;
}

.aih {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.ajp {
  --tw-bg-opacity: 1;
  background-color: rgb(79 70 229 / var(--tw-bg-opacity));
}

.alm {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.are {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.arh {
  padding-left: 1rem;
  padding-right: 1rem;
}

.arr {
  padding-top: 5px;
  padding-bottom: 5px;
}

.aru {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.asc {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.avx {
  font-size: 1rem;
  line-height: 1.5rem;
}

.avz {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.awf {
  font-weight: 600;
}

.awo {
  line-height: 1.5rem;
}

.axq {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.axu {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}

.bag {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.bbh {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.bbm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.bin:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(99 102 241 / var(--tw-bg-opacity));
}

@media (min-width: 640px) {
  .bwe {
    margin-left: 1.5rem;
  }

  .bwo {
    margin-top: 0px;
  }

  .bxk {
    display: flex;
  }

  .bzt {
    flex-shrink: 0;
  }

  .caz {
    align-items: flex-start;
  }

  .cbb {
    align-items: center;
  }

  .cbh {
    justify-content: space-between;
  }

  .cdc {
    border-radius: 0.5rem;
  }

  .cej {
    padding: 1.5rem;
  }

  .cev {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .dda {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
