<section class="relative block h-500-px">
  <div class="absolute top-0 w-full h-full bg-center bg-cover"
    style="background-image: url('assets/img/fondo-muestra.jpeg');">
    <span id="blackOverlay" class="w-full h-full absolute opacity-50 "></span>
  </div>

</section>
<section class="relative py-16 bg-blueGray-200">
  <div class="container mx-auto px-4">
    <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg -mt-64">
      <div class="px-6">
        <div class="flex flex-wrap justify-center">
          <div class="w-full lg:w-3/12 px-4 lg:order-2 flex justify-center">
            <div class="relative">
              <img src="assets/img/muestra-logo.svg"
                class="shadow-xl rounded-full h-auto align-middle border-none absolute -m-16 -ml-20 lg:-ml-16 max-w-150-px">
            </div>
          </div>
          <div class="w-full lg:w-4/12 px-4 lg:order-3 lg:text-right lg:self-center">
            <div class="py-6 px-3 mt-32 sm:mt-0"><button type="button" (click)="onRecargarGrafica()"
                class="text-red-500 bg-transparent border border-solid border-red-500 hover:bg-red-500 hover:text-white active:bg-red-600 font-bold uppercase text-xs px-4 py-2 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">
                <i class="fas fa-sync"></i> </button></div>
          </div>
          <div class="w-full lg:w-4/12 px-4 lg:order-1">
            <div class="flex justify-center py-4 lg:pt-4 pt-8">
              <div class="mr-4 p-3 text-center">
                <span class="text-xl font-bold block uppercase tracking-wide text-blueGray-600">
                  {{Muestra?.Codigo}}
                </span>
                <span class="text-sm text-blueGray-400">Codigo</span>
              </div>
              <div class="mr-4 p-3 text-center"><span
                  class="text-xl font-bold block uppercase tracking-wide text-blueGray-600">
                  {{Muestra?.Hora}}
                </span>
                <span class="text-sm text-blueGray-400">Hora</span>
              </div>
              <div class="lg:mr-4 p-3 text-center"><span
                  class="text-xl font-bold block uppercase tracking-wide text-blueGray-600">
                  {{Muestra?.Tiempo}}
                </span>
                <span class="text-sm text-blueGray-400">Tiempo</span>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <h3 class="text-4xl font-semibold leading-normal mb-2 text-blueGray-700 mb-2"> {{Muestra?.Nombre}}
          </h3>
          <div class="text-sm leading-normal mt-0 mb-2 text-blueGray-400 font-bold uppercase">
            <i class="fas fa-calendar-day mr-2 text-lg text-blueGray-400"></i> {{Muestra?.Fecha | date}}
          </div>
        </div>
        <div class="py-5 border-t border-blueGray-200 text-center">
          <div class="flex flex-wrap justify-center">
            <div class="w-full lg:w-9/12 px-4">
              <p class="mb-4 text-lg leading-relaxed text-blueGray-700">
                {{Muestra?.Descripcion}}
              </p>
            </div>
          </div>
        </div>
        <div class="py-5 border-t border-blueGray-200 text-center">
          <div class="flex flex-wrap justify-center">
            <div class="w-full lg:w-9/12 px-4">
              <div echarts [options]="opcionesGrafica" (chartClick)="onChartClick($event)"></div>
            </div>
          </div>
        </div>
        <div class="py-5 border-t border-blueGray-200 text-left">
          <div class="aih">
            <div class="gx ua arr" *ngFor="let item of Notas">
              <div class="gx tw" >
                <div class="alm bbh cdc">
                  <div class="arh asc cej" >
                    <div>
                      <div>
                        <h3 class="avx awf awo axu">{{item.FechAlta | date}}</h3>
                        <div class="lb avz axq">
                          <p>{{item.Nota}}</p>
                          <hr>
                          <p class="text-right">Hora: {{item.Hora}}, Temperatura: {{item.Temperatura}}</p>
                        </div>
                      </div>
                      <div class="lj bwo">
                        <button type="button"  (click)="ngOnSeleccionarNota(item)"
                          class="ly yz adu ajp are aru avz awf bag bbm bin bot bou bow bpd" ><i class="fa-regular fa-trash-can"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div *ngIf="showModal"
  class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
  <div class="relative w-auto my-6 mx-auto max-w-6xl" style="width: 500px;">
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white ">
      <div class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t">
        <h3 class="text-3xl font-semibold" *ngIf="OpcAE == 0">
          Agregar nota
        </h3>
        <h3 class="text-3xl font-semibold" *ngIf="OpcAE == 1">
          Eliminar nota
        </h3>
        <button (click)="toggleModal()">
          <span class="bg-transparent text-black  text-2xl block ">
            ×
          </span>
        </button>
      </div>

      <div class="relative p-6 flex-auto" *ngIf="OpcAE == 0">
        <div class="relative flex-auto">
          <form [formGroup]="formNota">
            <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase"> Codigo de la muestra
            </h6>
            <div class="flex flex-wrap">
              <div class="w-full lg:w-12/12 px-4">
                <div class="relative w-full mb-3">
                  <input type="password" formControlName="Clave" name="Clave"
                    class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
                </div>
              </div>
            </div>
            <hr class="mt-6 border-b-1 border-blueGray-300">
            <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase"> Nota: </h6>
            <div class="flex flex-wrap">
              <div class="w-full lg:w-12/12 px-4">
                <div class="relative w-full mb-3">
                  <textarea type="text" rows="4" formControlName="Nota" name="Nota"
                    class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
                                  </textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="relative p-6 flex-auto" *ngIf="OpcAE == 1">
        <div class="relative flex-auto">
          <form [formGroup]="formEliminarNota">
            <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase"> Codigo de la muestra
            </h6>
            <div class="flex flex-wrap">
              <div class="w-full lg:w-12/12 px-4">
                <div class="relative w-full mb-3">
                  <input type="password" formControlName="Codigo" name="Codigo"
                    class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="flex items-center justify-end p-6 border-t border-solid border-blueGray-200 rounded-b">
        <button (click)="toggleModal()"
          class="text-blue-500 bg-transparent border border-solid border-blue-500 hover:bg-blue-500 hover:text-white active:bg-red-600 font-bold uppercase text-xs px-4 py-2 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          type="button">
          Cerrar
        </button>
        <button [disabled]="formNota.invalid" (click)="ngOnRegistrarNota()" *ngIf="OpcAE == 0"
          class="bg-blue-500 text-white active:bg-blue-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          type="button">
          Guardar
        </button>
        <button [disabled]="formEliminarNota.invalid" (click)="ngOnEliminarNota()" *ngIf="OpcAE == 1"
          class="bg-blue-500 text-white active:bg-blue-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          type="button">
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showModal" class="fixed inset-0 z-40 bg-black-opacity"></div>
