<div class="relative bg-blue-500 md:pt-32 pb-20 pt-12">
  <div class="px-4 md:px-10 mx-auto w-full">
    <div>
      <div class="flex flex-wrap">
        <div class="w-full lg:w-3/12 xl:w-3/12 px-4">
          <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">
            <div class="flex-auto p-4" style="padding-bottom: 31px; padding-top: 31px;">
              <div class="flex flex-wrap">
                <div class="relative w-full pr-4 max-w-full flex-grow flex-1 text-center">
                  <h5 class="text-blueGray-400 uppercase font-bold text-xs">
                    Registros
                  </h5>
                  <span class="font-semibold text-xl text-blueGray-700" style="font-size: 30px;">
                    {{numMuestras}}
                  </span>
                </div>
                <div class="relative w-auto pl-4 flex-initial">
                  <div routerLink="/admin/muestras/0/null" style="cursor: pointer; padding-top: 15px;">
                    <i class="fa-solid text-blue-500 fa-file-circle-plus" style="font-size: 35px;"></i>
                  </div>
                </div>
              </div>
              <p class="text-sm text-blueGray-400 mt-4 text-center">
                <span class="whitespace-nowrap" style="font-size: 20px;">{{ fecha | date }}</span>
              </p>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-9/12 xl:w-9/12 px-4">
          <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">
            <div class="flex-auto p-4">

              <div class="text-sm text-blueGray-400 mt-4">
                <select class="mr-2 py-2 bg-white rounded text-sm shadow " style="width: 20%;" [(ngModel)]="pageSize"
                  name="pageSize">
                  <option value="5">5 registros</option>
                  <option value="10">10 registros</option>
                  <option value="15">15 registros</option>
                </select>
                <span class="mr-2">
                  <input type="text" placeholder="Buscar por nombre" [(ngModel)]="auxBuscar" name="auxBuscar"
                    class="px-2 py-2 bg-white rounded text-sm shadow " style="width: 60%;" />
                </span>
                <span class="whitespace-nowrap">
                  <button class="bg-blue-500 text-white active:bg-blue-600 font-bold uppercase text-sm px-6 py-3 rounded-full shadow hover:shadow-lg  mr-1 mb-1 ease-linear transition-all duration-150" type="button"
                    (click)="ngOnBuscar()">
                    {{btnBuscar}}
                  </button>
                </span>
              </div>
              <div class="py-2">
                <nav class="block text-center">

                  <pagination-controls (pageChange)="page = $event" previousLabel="Ant" nextLabel="Sig">
                  </pagination-controls>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="px-4 md:px-10 mx-auto w-full c-m-4">
  <div class="flex flex-wrap mt-4">
    <div class="w-full mb-12 px-4">
      <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-white"
        ng-reflect-ng-class="bg-white">
        <div class="rounded-t mb-0 px-4 py-3 border-0">
          <div class="flex flex-wrap items-center">
            <div class="relative w-full px-4 max-w-full flex-grow flex-1">
              <h3 class="font-semibold text-lg text-blueGray-700" ng-reflect-ng-class="text-blueGray-700">
                Listado de muestras</h3>
            </div>
          </div>
        </div>
        <div class="block w-full overflow-x-auto">
          <table class="w-full bg-transparent">
            <thead class="text-left">
              <tr>
                <th width="20px"
                  class="px-6 border border-solid py-3 text-xs uppercase bg-blueGray-50 text-blueGray-500 border-blueGray-100">
                  Estatus</th>
                <th width="20px"
                  class="px-6 border border-solid py-3 text-xs uppercase bg-blueGray-50 text-blueGray-500 border-blueGray-100">
                </th>
                <th
                  class="px-6 border border-solid py-3 text-xs uppercase bg-blueGray-50 text-blueGray-500 border-blueGray-100">
                  Nombre </th>
                <th
                  class="px-6 border border-solid py-3 text-xs uppercase bg-blueGray-50 text-blueGray-500 border-blueGray-100">
                  Especificaciones </th>
                <th width="100px" colspan="2"
                  class="px-6 border border-solid py-3 text-xs uppercase bg-blueGray-50 text-blueGray-500 border-blueGray-100">
                  Opciones </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of muestras | muestra:txtBuscar ">
                <th class="px-2 " height="70px">
                  <div *ngIf="item.Estatus == 0" (click)="ngOnModalOpc(item, 1)" style="cursor: pointer;">
                    <i class="fas fa-lock text-red-500" style="font-size: 25px;"></i>
                  </div>
                  <div *ngIf="item.Estatus == 1" (click)="ngOnModalOpc(item, 1)" style="cursor: pointer;">
                    <i class="fas fa-unlock  text-blue-500" style="font-size: 25px;"></i>
                  </div>
                </th>
                <td class="px-2">
                  <div (click)="ngOnModalOpc(item, 2)" style="cursor: pointer;">
                    <i class="fas fa-eye text-gray-700" style="font-size: 25px;"></i>
                  </div>
                </td>
                <td class="border-t-0 px-6">
                  {{item.Nombre}}
                </td>
                <td class="border-t-0 px-6">
                  {{item.Codigo}}, {{item.Tiempo}},
                  <hr />
                  {{item.Hora}}:{{item.Fecha | date}}
                </td>
                <td width="50px">
                  <div routerLink="/admin/muestras/3/{{item.MuestraID}}" style="cursor: pointer;">
                    <i class="fas fa-pencil-alt text-orange-600" style="font-size: 25px;"></i>
                  </div>
                </td>
                <td width="50px">
                  <div (click)="ngOnModalOpc(item, 4)" style="cursor: pointer;">
                    <i class="fas fa-trash-alt text-red-700" style="font-size: 25px;"></i>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showModal" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50  justify-center items-center flex">
  <div class="relative w-auto my-6 mx-auto max-w-3xl">
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white ">
      <div class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t">
        <h3 class="text-3xl font-semibold">
          <span *ngIf="btnOpcion == 1">Cambiar de permiso</span>
          <span *ngIf="btnOpcion == 2">Ver registro</span>
          <span *ngIf="btnOpcion == 3">Editar Registro</span>
          <span *ngIf="btnOpcion == 4">Eliminar registro</span>
        </h3>
        <button (click)="toggleModal()">
          <span class="bg-transparent text-black  text-2xl block ">
            ×
          </span>
        </button>
      </div>

      <div *ngIf="btnOpcion == 1" class="relative p-6 flex-auto">
        <h6 class="text-xl font-normal leading-normal mt-0 mb-2 text-blue-800">
          Si la muestra no esta activa no se permitira ver en listado final:
        </h6>
        <div class="flex-auto px-4 lg:px-10 py-10 pt-0">

          <hr class="mt-6 border-b-1 border-blueGray-300">
          <h6 class="border-b-1 text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase"> Información:
          </h6>
          <div class="flex flex-wrap">
            <div class="w-full lg:w-12/12 px-4">
              <div class="relative w-full mb-3"><label htmlfor="grid-password"
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"> Nombre
                </label>
                <p
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
                  {{iSelect.Nombre}}
                </p>
              </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3"><label htmlfor="grid-password"
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"> Codigo
                </label>
                <p
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
                  {{iSelect.Codigo}}
                </p>
              </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3"><label htmlfor="grid-password"
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"> Fecha
                </label>
                <p
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
                  {{iSelect.Fecha | date}} - {{iSelect.Hora}}
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div *ngIf="btnOpcion == 2" class="relative p-6 flex-auto">
        <h6 class="text-xl font-normal leading-normal mt-0 mb-2 text-blue-800">
          Información alamacenada de la muestra:
        </h6>
        <div class="flex-auto px-4 lg:px-10 py-10 pt-0">

          <hr class="mt-6 border-b-1 border-blueGray-300">
          <h6 class="border-b-1 text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase"> Información:
          </h6>
          <div class="flex flex-wrap">
            <div class="w-full lg:w-12/12 px-4">
              <div class="relative w-full mb-3"><label htmlfor="grid-password"
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"> Nombre
                </label>
                <p
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
                  {{iSelect.Nombre}}
                </p>
              </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3"><label htmlfor="grid-password"
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"> Codigo
                </label>
                <p
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
                  {{iSelect.Codigo}}
                </p>
              </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3"><label htmlfor="grid-password"
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"> Fecha
                </label>
                <p
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
                  {{iSelect.Fecha | date}}
                </p>
              </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3"><label htmlfor="grid-password"
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"> Hora inicial
                </label>
                <p
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
                  {{iSelect.Hora}}
                </p>
              </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3"><label htmlfor="grid-password"
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"> Hora final
                </label>
                <p
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
                  {{iSelect.Tiempo}}
                </p>
              </div>
            </div>
          </div>
          <hr class="mt-6 border-b-1 border-blueGray-300">
          <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">Extra </h6>
          <div class="flex flex-wrap">
            <div class="w-full lg:w-12/12 px-4">
              <div class="relative w-full mb-3"><label htmlfor="grid-password"
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"> Descripción de la muestra
                </label>
                <p
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
                  {{iSelect.Descripcion}}
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div *ngIf="btnOpcion == 4" class="relative p-6 flex-auto">
        <h4 class="text-xl font-normal leading-normal mt-0 mb-2 text-blue-800">
          El siguiente incubadora sera afectada:
        </h4>
        <div class="flex flex-wrap">
          <div class="w-full lg:w-12/12 px-4">
            <div class="relative w-full mb-3"><label htmlfor="grid-password"
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"> Nombre
              </label>
              <p
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
                {{iSelect.Nombre}}
              </p>
            </div>
          </div>
          <div class="w-full lg:w-6/12 px-4">
            <div class="relative w-full mb-3"><label htmlfor="grid-password"
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"> Codigo
              </label>
              <p
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
                {{iSelect.Codigo}}
              </p>
            </div>
          </div>
          <div class="w-full lg:w-6/12 px-4">
            <div class="relative w-full mb-3"><label htmlfor="grid-password"
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"> Fecha
              </label>
              <p
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
                {{iSelect.Fecha | date}} - {{iSelect.Hora}}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="flex items-center justify-end p-6 border-t border-solid border-blueGray-200 rounded-b">
        <button type="button"
          class="text-blue-500 bg-transparent border border-solid border-blue-500 hover:bg-blue-500 hover:text-white active:bg-blue-600 font-bold uppercase text-sm px-6 py-3  rounded-full outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          (click)="toggleModal()">Cerrar</button>
        <button *ngIf="btnOpcion == 1"
          class="bg-blue-500 text-white active:bg-blue-600 font-bold uppercase text-sm px-6 py-3 rounded-full shadow hover:shadow-lg  mr-1 mb-1 ease-linear transition-all duration-150"
          type="button" (click)="onCambiarPermiso()">
          <span *ngIf="iSelect.Estatus == 0">Permitir</span>
          <span *ngIf="iSelect.Estatus == 1">Bloquear</span>
        </button>
        <button *ngIf="btnOpcion == 4"
          class="bg-blue-500 text-white active:bg-blue-600 font-bold uppercase text-sm px-6 py-3 rounded-full shadow hover:shadow-lg  mr-1 mb-1 ease-linear transition-all duration-150"
          type="button" (click)="onEliminarUsuario()">
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showModal" class="fixed inset-0 z-40 bg-black-opacity"></div>
