<nav
  class="absolute top-0 left-0 w-full z-10 bg-transparent md:flex-row md:flex-nowrap md:justify-start flex items-center p-4">
  <div class="w-full mx-autp items-center flex justify-between md:flex-nowrap flex-wrap md:px-10 px-4">
    <a class="text-white text-sm uppercase hidden lg:inline-block font-semibold">

      <span *ngIf="NRuta == '/admin/muestras'"> <i class="fas fa-atom mr-2"></i> Muestras</span>
      <span *ngIf="NRuta == '/admin/incubadoras'"><i class="fas fa-archive mr-2"></i> Incubadoras</span>
      <span *ngIf="NRuta == '/admin/usuarios'"> <i class="fas fa-user mr-2"></i>Usuarios</span>

    </a>
    <div class="lg:flex flex-grow items-center">
      <ul class="flex flex-col lg:flex-row list-none ml-auto">
        <li class="nav-item">
          <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75">
            {{sUsuario.Nombres}} {{sUsuario.Apellidos}}
          </a>
        </li>
      </ul>
    </div>
    <ul class="flex-col md:flex-row list-none items-center hidden md:flex">
      <!--
      <app-user-dropdown class="block"></app-user-dropdown>
    -->
    </ul>
  </div>
</nav>
