<div class="relative bg-blue-500 md:pt-32 pb-20 pt-12">

</div>
<div class="flex flex-wrap">
  <div class="w-full lg:w-12/12 px-4 c-m-4 ">
    <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-100 border-0">
      <div class="rounded-t bg-white mb-0 px-6 py-6">
        <div class="text-center flex justify-between">
          <button type="button"
            class="text-blue-500 bg-transparent border border-solid border-blue-500 hover:bg-blue-500 hover:text-white active:bg-blue-600 font-bold uppercase text-sm px-6 py-3  rounded-full outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            routerLink="/admin/muestras">Regresar</button>
          <h6 *ngIf="Opcion == 0" class="text-blueGray-700 text-xl font-bold">Agregar Muestra</h6>
          <h6 *ngIf="Opcion == 3" class="text-blueGray-700 text-xl font-bold">Modificar muestra</h6>

          <button type="button" *ngIf="Opcion == 0" [disabled]="formMuestra.invalid"
          class="bg-blue-500 text-white active:bg-red-600 font-bold uppercase text-sm px-6 py-3 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            (click)="onGuardarMuestra()">Guardar
          </button>
          <button type="button" *ngIf="Opcion == 3" [disabled]="formMuestra.invalid"
            class="bg-blue-500 text-white active:bg-red-600 font-bold uppercase text-sm px-6 py-3 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            (click)="onEditarMuestra()">Editar
          </button>
        </div>
      </div>
      <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
        <form [formGroup]="formMuestra">
          <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">Completa la Incubadora</h6>
          <div class="flex flex-wrap">
            <div class="w-full lg:w-12/12 px-4">
              <div class="relative w-full mb-3"><label htmlfor="grid-password"
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"> Incubadora
                </label>
                <select
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  formControlName="IncubadoraID" name="IncubadoraID">
                  <option value="-1">Selecciona una Incubadora</option>
                  <option *ngFor="let item of incubadoras" [ngValue]="item.IncubadoraID">
                    {{item.Nombre}}</option>
                </select>
              </div>
            </div>
          </div>
          <hr class="mt-6 border-b-1 border-blueGray-300">
          <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase"> Información de la muestra </h6>
          <div class="flex flex-wrap">
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3"><label htmlfor="grid-password"
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"> Nombre
                </label><input type="text" formControlName="Nombre" name="Nombre"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
              </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3"><label htmlfor="grid-password"
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"> Código
                </label><input type="text" formControlName="Codigo" name="Codigo"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
              </div>
            </div>
            <div class="w-full lg:w-12/12 px-4">
              <div class="relative w-full mb-3"><label htmlfor="grid-password"
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"> Descripción
                </label>
                <textarea type="text" rows="4" formControlName="Descripcion" name="Descripcion"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
                              </textarea>
              </div>
            </div>
            <div class="w-full lg:w-12/12 px-4">
              <div class="relative w-full mb-3"><label htmlfor="grid-password"
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"> Tipo
                </label><input type="text" formControlName="Tipo" name="Tipo"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
              </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3"><label htmlfor="grid-password"
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"> Hora inicio
                </label><input type="time" formControlName="Hora" name="Hora"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
              </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3"><label htmlfor="grid-password"
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"> Hora de fin
                </label><input type="time" formControlName="Tiempo" name="Tiempo"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>

<div *ngIf="showModal" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50  justify-center items-center flex">
  <div class="relative w-auto my-6 mx-auto max-w-3xl">
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white ">
      <div class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t">
        <h3 class="text-3xl font-semibold">
          {{modal!.titulo}}
        </h3>
        <button (click)="toggleModal()">
          <span class="bg-transparent text-black  text-2xl block ">
            ×
          </span>
        </button>
      </div>

      <div class="relative p-6 flex-auto">
        {{modal!.msg}}
      </div>

      <div class="flex items-center justify-end p-6">
        <button
        class="bg-blue-500 text-white active:bg-red-600 font-bold uppercase text-sm px-6 py-3 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          type="button" (click)="toggleModal()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showModal" class="fixed inset-0 z-40 bg-black-opacity"></div>
