<footer class="block py-4">
  <div class="container mx-auto px-4">
      <hr class="mb-4 border-b-1 border-blueGray-600" />
      <div class="flex flex-wrap items-center md:justify-between justify-center">
          <div class="w-full md:w-12/12 px-4">
              <div class="text-sm text-blueGray-500 font-semibold py-1 text-center">
                  Copyright © 2021 UA-Tamazula desarrollado por ma.celis
              </div>
          </div>
      </div>
  </div>
</footer>
